# Environment variables
NODE_ENV=production

# API Configuration
VITE_API_URL=http://localhost:8080

# WhatsApp Configuration
VITE_WHATSAPP_PHONE_NUMBER=59176502656
VITE_WHATSAPP_MESSAGE=Hola estoy interesado en el UNICARPOL del Software 

# Gemini AI Configuration (Chatbot)
VITE_GEMINI_API_KEY=your_api_key_here
VITE_GEMINI_MODEL=gemini-2.5-flash

# Database (si usas)
# DB_USER=usuario
# DB_PASSWORD=password
# DB_NAME=sw2db

# Optional Services
# REDIS_URL=redis://redis:6379
