# Environment variables
NODE_ENV=production

# API Configuration
VITE_API_URL=http://localhost:8080

# Database (si usas)
# DB_USER=usuario
# DB_PASSWORD=password
# DB_NAME=sw2db

# Optional Services
# REDIS_URL=redis://redis:6379
